$primary: orange;
$primary-hover: darkorange;
$button-text-color: white;

.custom-button {
  padding: 4px 12px;
  color: $button-text-color;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background-color: $primary-hover;
  }
}

.back-button,
.add-favorite-button,
.delete-favorite-button {
  padding: 4px 12px;
  color: $button-text-color;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  
  &:hover,
  &:focus {
    background-color: $primary-hover;
  }
}

.movie-details {
  margin-top: 20px;
  padding-left: 20px; /* Added paddingLeft here */

  .movie-card-text {
    margin-top: 20px; /* Adjust as needed for vertical space between image and text */
  }
}

.card {
  position: relative;

  &:hover {
    .card-img-top {
      transform: scale(1.05) translateX(10px);
      filter: brightness(70%);
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
  }

  .card-img-top {
    transition: transform 0.5s ease;
  }
}


.movie-card-image {
  position: relative;
  overflow: hidden;
}

.movie-card-image img {
  transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
  width: 22%; /* Ensures the image fills its container */
  height: 5%; /* Maintains aspect ratio */
}

.movie-card:hover img {
  transform: scale(1.2) rotate(20deg) translate(10px, 10px);
  filter: brightness(70%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
